:root {
  /* 秋天*/
  --el-color-primary: #ed9d87;
  --el-color-primary-light-9: #fbf6f1;
  /* --el-border-color: #e0ccc7; */
  --el-border-color-hover: #d4b7b0;
  --el-color-primary-light-7: #d5bdb7;
  --el-color-primary-light-3: #e8a998;
  --el-color-primary-light-5: #e8a998;
  --el-color-primary-light-8: #e8a998;
  --el-color-primary-dark-2: #e8a998;
}
